* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Courier New", Courier, monospace;
}

.container {
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;

}
.title-mobile{
    display:block;
}

.title-tablet {
    display: none;
}

.title-desktop {
    display: none;
}
/* Media query para Tablet */
@media screen and (min-width: 650px) and (max-width: 1023px) {
    .container {
        background-color: green;   
    }

    .title {
        color: white;
    }

    .title-mobile, .title-desktop {
        display: none;
    }

    .title-tablet {
        display: flex;
    }

}

/* Media query para Desktop */

@media screen and (min-width: 1024px) {
    .container {
        background-color: lightcoral;
        flex-direction: column-reverse;
    }

    .title-mobile, .title-tablet {
        display: none;
    }

    .title-desktop {
        display: flex;
    }
}