/* ---------------------------------------------*/
/*              Variables                       */
/* ---------------------------------------------*/

:root{
    --fb-color:#4267B2;
    --x-color:#000;
    /* --tweet-color:#1DA1F2; */
    --insta-color:#E1306C;
    --lkdin-color:#2867B2;
    --yt-color:#F00;
    --lion-color:#DB9601;
}

/* ---------------------------------------------*/
/*              Modo Claro/Obscuro              */
/* ---------------------------------------------*/

.u-Dark{
    --x-color:#fff;
}



/* ---------------------------------------------*/
/*              Elementos                       */
/* ---------------------------------------------*/
.Icons{
    display:flex;
    gap:2px;
    flex-wrap:wrap;
}

.IconBox-link{
    text-decoration: none;
    margin:0 25px;
    display: block;

    position: relative;
}

.IconBox-layers{
    width:55px;
    height: 55px;
   transition:transform 0.3s ease;

}

.IconBox:hover .IconBox-layers{
    transform:rotate(-35deg) skew(20deg);
}

.IconBox-span{
    position:absolute;
    top:0px;
    left:0px;
    border:1px solid #fff;
    border-radius: 5px;
    width: 100%;
    height: 100%;


    font-size: 30px;
    text-align: center;
    line-height: 55px;
    
}

/* ---------------------------------------------*/
/*               Layers de iconos               */
/* ---------------------------------------------*/


.IconBox:hover .IconBox-span:nth-child(1){
   opacity:0.2;

}
.IconBox:hover .IconBox-span:nth-child(2){
    transform:translate(5px,-5px);  
       opacity:0.4;

}
.IconBox:hover .IconBox-span:nth-child(3){
    transform:translate(10px,-10px);  
       opacity:0.6;

}
.IconBox:hover .IconBox-span:nth-child(4){
    transform:translate(15px,-15px);  
       opacity:0.8;

}
.IconBox:hover .IconBox-span:nth-child(5){
    transform:translate(20px,-20px);  
       opacity:1;

}



/* ---------------------------------------------*/
/*              Colores de iconos               */
/* ---------------------------------------------*/

.IconBox--fb .IconBox-span, 
.IconBox--fb .IconBox-text{
    color:var(--fb-color);
    border-color: var(--fb-color);
    
}
.IconBox--x .IconBox-span, 
.IconBox--x .IconBox-text{
    color:var(--x-color);
    border-color: var(--x-color);
    
}
.IconBox--insta .IconBox-span, 
.IconBox--insta .IconBox-text{
    color:var(--insta-color);
    border-color: var(--insta-color);
    
}
.IconBox--lkdin .IconBox-span, 
.IconBox--lkdin .IconBox-text{
    color:var(--lkdin-color);
    border-color: var(--lkdin-color);
    
}
.IconBox--yt .IconBox-span, 
.IconBox--yt .IconBox-text{
    color:var(--yt-color);
    border-color: var(--yt-color);
    
}
.IconBox--lion .IconBox-span, 
.IconBox--lion .IconBox-text{
    color:var(--lion-color);
    border-color: var(--lion-color);
    
}


/* Sombras de Capas*/

.IconBox--fb:hover .IconBox-span{
    box-shadow:-1px 1px 3px var(--fb-color);
}
.IconBox--x:hover .IconBox-span{
    box-shadow:-1px 1px 3px var(--x-color);
}
.IconBox--insta:hover .IconBox-span{
    box-shadow:-1px 1px 3px var(--insta-color);
}
.IconBox--lkdin:hover .IconBox-span{
    box-shadow:-1px 1px 3px var(--lkdin-color);
}
.IconBox--yt:hover .IconBox-span{
    box-shadow:-1px 1px 3px var(--yt-color);
}
.IconBox--lion:hover .IconBox-span{
    box-shadow:-1px 1px 3px var(--yt-color);
}
/* .IconBox--lion:hover .IconBox-span:nth-child(odd){
    box-shadow:-1px 1px 3px var(--yt-color);
} */



.IconBox-text{

    position:absolute;
    left:50%;
    font-weight: 500;
    bottom:-5px;
    transform: translate(-50%);
    opacity:0;
    transition:opacity 0.3s ease,bottom 0.3s ease;

}

.IconBox{

    padding-bottom:35px;


}

.IconBox:hover .IconBox-text{
    opacity:1;
    bottom:-35px;
}


/* Fuente personalizada */

.IconBox--lion .IconBox-span, 
.IconBox--lion .IconBox-text{
    font-family: "Bungee Spice";
    white-space: nowrap;
    
}

