* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.body {
    display: grid;
    grid-template-rows: 100px 1fr 100px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
        "header header header"
        "main   main   sidebar"
        "footer footer footer";

    min-height: 100vh;
    gap: 10px;

}
.body--dark-mode{
    background-color: black;
    color: white;
}

.header {
    grid-area: header;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: lightskyblue;
    padding: 10px;

}


.header__button{

    border: 2px solid black;
    margin: 10px;
    border-radius: 255px 15px 225px 15px / 15px 225px 15px 225px;

    padding: 10px;
    background-color: aquamarine;
    color: black;
    opacity: 0.5;
    transition: opacity 1s ease;
}

.header__button:hover {
    opacity: 1;    
}
.header__button--dark-mode{
    background-color: blue;
    border: 2px solid white;
    color: white;
}


.main {
    grid-area: main;
    /* min-height: 100vh; */

}

.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.hero__title {
    font-size: 2rem;
    margin-bottom: 10px;
    color: blue;
}

.hero__img {
    object-fit: cover;
    width: 100%;
    filter: drop-shadow(5px 5px 10px rgba(52, 168, 222, 0.8));

}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container__box {

    border: 2px solid black;
    margin: 10px;
    border-radius: 255px 15px 225px 15px / 15px 225px 15px 225px;

    padding: 10px;
    background-color: aquamarine;
    color: black;
    transition: transform 1s ease;

}
.container__box--active{
color:white;
background-color: green;
}

.container__box:hover {
    transform: rotate(90deg);
}

.gallery{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    padding: 10px;
}
.gallery__img{
    width: 100%;
    object-fit: cover;
    transition:transform 0.5s ease;
}

.gallery__img:hover{
    transform: scale(1) rotate(45deg);
    
}

.sidebar{
    grid-area: sidebar;
    display: flex;
    flex-direction: column;
    gap: 10pxs;
    
    background-color: lightcyan;
    padding: 10px;
}

.sidebar__title{
    font-size: 1.5rem;
    color: blue;
    margin-bottom: 10px;
}

.acordeon {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .acordeon__item.open .acordeon__content {
    max-height: 300px;
  }

  .acordeon__content {
    max-height: 0;
    overflow: hidden;
    border: 1px solid lightskyblue;
    transition: max-height 0.5s ease;
  }


.footer {
    grid-area: footer;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightskyblue;
    padding: 10px;
}

.header--dark-mode, .sidebar--dark-mode, .footer--dark-mode {
    background-color: blue;
}