.Body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.Boxes{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}
.Boxes-box{
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    border-radius: 8px;
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
    padding: 16px;
    margin: 16px;
    max-width: 300px;
    background-color: #fff;
}
.u-danger{
    color:red;
}
